.no-close .ui-dialog-titlebar-close {
   display: none;
}

#connectDialog td {
   text-align: center;
}

#connectDialog table {
   width: 100%;
}

#headerPanel{
   width: 800px;
   padding-top: 20px;
   padding-bottom: 10px;
   text-align: justify;
   font-size: large;
}

