<tr>
  <td class="name <%=currentqueuerow.provider%>">
    <%=currentqueuerow.displayName%>
    <% if(currentqueuerow.invitation) { %>
      (<%=currentqueuerow.invitation%>)
    <% } %>
  </td>
</tr>
