<% layout('/logopage.ejs') -%>
<div class="topic">
<h2>Privacy Policy</h2>
<p>
Last modified: February 9th, 2015
</p>
<p>
    We have created this Privacy Policy to describe how information is collected, used, and disclosed when you visit Puzzle Duel site. By accessing and/or using this Puzzle Duel website you are accepting the practices described in this Privacy Policy.
</p>    
<h4>Information that we may collect</h4>
<p>
<ul>
<li><b>Personally Identifiable Information:</b>We may collect the following information when you sign up with a Puzzle Duel site: first name, last name, email address.</li>
<li><b>Technical Information:</b>When a user accesses a Puzzle Duel site, we may collect technical information about the user’s device, such as the IP address that requested the display of the Puzzle Duel site, the operating system type, and the identifiers associated with the device.</li>
<li><b>Sign Up and Survey information:</b>Any information you provide to us, and any information you choose to share about yourself as part of your use of any Puzzle Duel site, may be stored as entered.</li>
</ul>
</p>
<h4>Use and security of collected information</h4>
<p>
We may use your username, email address, and password to uniquely identify you as a user on a Puzzle Duel site, to provide you with services. We may use or display your username, if applicable, for the purposes of rankings, competitions or sweepstakes, chat identification, and/or game high scores.
</p>    
<p>
Subject to the terms of this Privacy Policy, we may use your contact information to process our promotional newsletters and/or email campaigns and to send you updates, security alerts, or administrative messages relating to Puzzle Duel site. Your contact information will allow us to notify you about new features, enhancements, resolution of Puzzle Duel site problems, handle and/or route your customer support questions and issues, and inform you of upgrade opportunities, sweepstakes, contests, prizes, and/or special events.
</p>    
<p>
We may use information collected to calculate aggregate, anonymized statistics about our user community for the purpose of enhancing our Puzzle Duel site, or for security purposes.
</p>    
<h4>Children</h4>
<p>
Puzzle Duel site are designed to avoid the collection and use of “personal information” as defined in the Children’s Online Privacy Protection Act (“COPPA”) from children under 13 other than for support of internal operations. We do not knowingly collect personal information from children. If you are under 13, you may not register for an account or otherwise provide any personal information to us.
</p>    
<h4>Agreement with Puzzle Duel policies</h4>
<p>
By accessing and/or using Puzzle Duel site, you signify your understanding of and agreement with this Privacy Policy, and to our Terms of Use. If you do not agree with our policies, please do not access or use Puzzle Duel site.
</p>    
<h4>Change to privacy policy</h4>
<p>
We may modify this Privacy Policy from time to time. When we post changes to this Privacy Policy, we will revise the "last modified" date at the top of this page. We encourage you to periodically review this Privacy Policy to be informed of how Puzzle Duel protects your information.    
</p>    
</div>