<% layout('/logopage.ejs') -%>
<div class="topic">
    <h2><%= translate["Rating"]%></h2>
    <p><%- translate["Rating text"]%></p>
    <table class="ratingtable">
        <%-partial('ratingrow',ratings)%>
    </table>
</div>