<tr class="<%=(user&&ratingrow.id==user.id?'currentuser':'')%>">
    <td class="name">
        <%=ratingrow.displayName%>
    </td>
    <td class="value">
        <%=Math.round(ratingrow.rating)%>
    </td>
</tr>