<tr <%=(user&&ratingrow._id.equals(user._id)?'class=currentuser':'')%> >
  <td class="name">
    <%=ratingrow.displayName%>
  </td>
  <td class="value">
    <%=Math.round(ratingrow.rating)%>
  </td>
</tr>