html {
   height: 100%;
   margin: 0;
}
body {
   height: 98%;
   margin: 0;
   background-color: #f4f4f4;
   font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
   font-size: 16px;
}

body.lefttitle {
   height: 100%;
}

* {
   margin: 0;
   padding: 0;
}

.raised {
   box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.26);
   border-radius: 2px;
   background-color: #fff;
}

.container{
   margin: 20px auto;
   width: 1000px;
   max-width: 65%;
   min-height: 75%;
   min-width: 500px;
   text-align: center;
   overflow: auto;
}

body.lefttitle .container{
   max-width: 100%;
   margin: 20px 20px;
   float: left;
}

.logo {
   width: 100%;
   height: 80px;
   background-color: #fff9b6;
}

body.lefttitle .logo {
   width: 80px;
   height: 100%;
   float: left;
}

.logo img {
   padding-top: 0px;
   padding-left: 100px;
   height: 80px;
}

body.lefttitle .logo img{
   padding-top: 10px;
   padding-left: 0px;
   width: 80px;
   height: auto;
}

.title {
   padding-left: 100px;
   height: 70px;
   position: relative;
   color: #bbb;
   font-size: 300%;
   font-weight: bold;
   top: -25px;
}

body.lefttitle .title{
   display:none;
}

.menu {
   width: 100%;
   height: 40px;
   background-color: #3a386c;
   box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.26);
}

body.lefttitle .menu{
   position: relative;
   width: 40px;
   height: 100%;
   box-shadow: 3px 0px 5px 2px rgba(0, 0, 0, 0.26);
   float: left;
}

p,ul,li {
   margin: 15px;
   text-align: justify;
}

.topic {
   padding: 0px;
}

.topic.small {
    width: 47%;
    height: auto;
    display: inline-block;
    padding-bottom: 20px;
    float: left;
}

.langchooser {
   position: relative;
   top: 10px;
   left: -40px;
   float: right;
}

body.lefttitle .langchooser{
   position: absolute;
   top: auto;
   left: 0px;
   bottom: 10px;
}

.langchooser a {
   padding: 5px 10px;
   color: #ffffff;
   text-decoration: none;
}

.langchooser a.short {
   display: none;
}

body.lefttitle .langchooser a.short{
   display: inline-block;
}

body.lefttitle .langchooser a.long{
   display: none;
}

.langchooser a.current {
   font-weight: bold;
}

.langchooser a:hover {
   text-decoration: underline;
}

.content {
   margin: 5px auto 5px auto;
   padding-bottom: 25px;
}

.button {
   position: relative;
   outline: none;
   border: none;
   overflow: hidden;
   cursor: pointer;
   min-width: 120px;
   min-height: 32px;
   background-color: #fff;
   border-radius: 2px;
   font-weight: bold;
   line-height: 32px;
   padding: 0px 8px;
}

.button.blue {
   background-color: #3a386c;
   color: #ffffff;
}

.button:disabled {
   color: #ccc;
}

.button.default{
   color: #008;
}

.button.default:disabled {
   color: #aaf;
}

.button.blue:disabled {
   background-color: #8a88ac;
   color: #aaf;
}

.button:hover, .button:focus {
   background-color: #fafaff;
}

.button.blue:hover, .button.blue:focus {
   background-color: #6a689c;
}

.button:disabled:hover, .button:disabled:focus {
   background-color: #fff;
}

.button.blue:disabled:hover, .button.blue:disabled:focus {
   background-color: #8a88ac;
}


.button.raised:active {
   box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.3);
   transition-delay: 0s;
}

h1,h2,h3,h4 {
   color: #3a386c;
   padding-top: 30px;
   padding-bottom: 15px;
}

.button.login {
   position: absolute;
   background-color: #fff9b6;
   color: #3a386c;
   top: 25px;
   right: 85px;
   float: right;
   font-size: 120%;
}

.button.login:hover {
   background-color: #eee9a6;
}

.button.start {
   margin: auto;
   margin-bottom: 25px;
}

.button.closedialog {
   float: right;
   margin-top: 10px;
   margin-bottom: 10px;
}

.ripple-effect {
	display: block;
   position: absolute;
	background-color: #228;
	border-radius: 100%;
	transform: scale(0);
}

.ripple-effect.animate {
   animation: ripple .5s linear;
   -webkit-animation: ripple .5s linear;
}

@-webkit-keyframes ripple {
	100% {opacity: 0; transform: scale(2.0);}
}
@keyframes ripple {
	100% {opacity: 0; transform: scale(2.0);}
}

.dialog {
   position: absolute;
   display: none;
   overflow: hidden;
   padding: 20px;
   text-align: center;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.5);
   z-index: 10;
	opacity: 1;
	pointer-events: auto;
}

.overlay.animate {
   animation: overlay .5s linear;
   -webkit-animation: overlay .5s linear;
}

@keyframes overlay {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes overlay {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.overlay.animatehide {
   animation: overlayhide .5s linear;
   -webkit-animation: overlayhide .5s linear;
}

@keyframes overlayhide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes overlayhide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.loginselector a {
   margin: 10px;
}

.group{ 
   position:relative; 
   margin-bottom:15px; 
}

input, span.text {
   font-size:18px;
   font-weight: bold;
   display:block;
   height:18px;
   width:260px;
   padding: 10px 10px 10px 5px;
   border: none;
   background-color: #fff;
   border-bottom: 1px solid #757575;
   outline:none;
   text-align: left;
}

span.infotext {
   font-size:16px;
   font-weight: bold;
   display:block;
   height:16px;
   width:260px;
   padding: 10px 10px 10px 5px;
   border: none;
   background-color: #fff;
   text-align: center;
}

select.chooser {
   font-size: 18px;
   font-weight: bold;
   display:block;
   height: 38px;
   width: 275px;
   padding: 8px 10px 8px 5px;
   display: block;
   border: none;
   background-color: #fff;
   border-bottom: 1px solid #757575;
   outline:none;
   text-align: left;
}

label 				 {
  color: #bbb; 
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label, span.text ~ label, select.chooser ~ label {
  top:-10px;
  font-size:12px;
  color:#5264AE;
}

.bar { 
   position:relative; 
   display:block; 
   width:275px;
}

.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
   width:50%;
}

.highlight {
  position:absolute;
  height:50%; 
  width:275px; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.error {
   display: block;
   width: 100%;
   height: 16px;
   color: #c00;
   text-align: center;
   padding-bottom: 5px;
}


.ratingtable {
   max-width: 300px;
   margin: 15px auto;
   border-collapse: collapse;
   font-size: 90%;
}

.ratingtable tr.currentuser {
   font-weight: bold;
}

.ratingtable .name,.ratingtable .name a{
   text-decoration: none;
   font-weight: bold;
   color: black;
}

.ratingtable .name.bot,.ratingtable .name.bot a{
   font-weight: normal;
}

.ratingtable .name.anonym,.ratingtable .name.anonym a{
   font-style: italic;
}

.ratingtable .win {
   color: darkgreen;
}

.ratingtable .win a{
   text-decoration: none;
   color: darkgreen;
}


.ratingtable .loose {
   color: darkred;
}

.ratingtable .loose a{
   text-decoration: none;
   color: darkred;
}

.ratingtable tr:nth-child(even) {
   background-color: #f8f8f8;
   border: 0px;
}

.ratingtable .name{
   padding: 3px 0 3px  5px;
   min-width: 140px;
   text-align: left;
}

.ratingtable .date{
   padding: 3px 5px 3px 0;
   min-width: 130px;
   text-align: right;
}

.ratingtable .score{
   padding: 3px 5px 3px 5px;
   min-width: 90px;
   text-align: center;
}

.ratingtable .value{
   padding: 3px 5px 3px 0;
   min-width: 60px;
   text-align: right;
}

.ratingtable .duration{
   padding: 3px 5px 3px 0;
   min-width: 60px;
   text-align: right;
}

.ratingtable .link{
   text-align: right;
   font-size: 75%;
}

@media screen and (min-height:1000px) and (max-height:5000px) and (min-width:2000px) {
body {
   font-size: 22px;
}

.logo {
   height: 160px;
}

body.lefttitle .logo {
   width: 160px;
   height: 100%;
}

.logo img {
   height: 160px;
}

body.lefttitle .logo img {
   width: 160px;
   height: auto;
}

.title {
   height: 120px;
   top: -55px;
}

.button.login {
   top: 60px;
}

.menu {
   height: 80px;
}

body.lefttitle .menu {
   width: 80px;
   height: 100%;
}

.langchooser {
   top: 30px;
}

body.lefttitle .langchooser {
   top: auto;
}

.ratingtable .name{
   min-width: 230px;
}

.ratingtable .date{
   min-width: 200px;
}

.ratingtable .score{
   min-width: 120px;
}

.ratingtable .value{
   min-width: 100px;
}

.ratingtable .duration{
   min-width: 100px;
}
   
}

@media screen and (min-width:2000px) and (max-width:10000px) {
.logo img {
   padding-left: 300px;
}

body.lefttitle .logo img {
   padding-left: 0px;
}

.title {
   padding-left: 200px;
}

.button.login {
   right: 260px;
}

.langchooser {
   left: -260px;
}

body.lefttitle .langchooser {
   left: 0px;
}
}
@media screen and (min-width:680px) and (max-width:1000px) {
.container{
   width: 706px;
   max-width: 93%;
   min-width: 450px;
}

.logo img {
   padding-left: 50px;
}

body.lefttitle .logo img {
   padding-left: 0px;
}

.title {
   padding-left: 50px;
}

.button.login {
   right: 25px;
}

.langchooser {
   left: -20px;
}

body.lefttitle .langchooser {
   left: 0px;
}

.topic.small {
    width: 47%;
}
}

@media screen and (min-width:560px) and (max-width:680px) {
.container{
   width: 696px;
   max-width: 90%;
   min-width: 440px;
}

body.lefttitle .container{
   max-width: 97%;
   min-width: 300px;
}

.logo img {
   padding-left: 5px;
}

body.lefttitle .logo img {
   padding-left: 0px;
   padding-top: 5px;
}

.title {
   padding-left: 5px;
}

.button.login {
   right: 5px;
}

.langchooser {
   left: -5px;
}

body.lefttitle .langchooser {
   left: 0px;
}

.topic.small {
    width: 47%;
}

.langchooser a.short {
   display: initial;
}

.langchooser a.long {
   display: none;
}

}

@media screen and (min-width:40px) and (max-width:560px) {
.container{
   width: 97%;
   max-width: 97%;
   min-width: 97%;
}

body.lefttitle .container{
   max-width: 97%;
   min-width: 40%;
}

.logo img {
   padding-left: 5px;
}

body.lefttitle .logo img {
   padding-left: 0px;
   padding-top: 5px;
}

.title {
   display: none;
}

.button.login {
   right: 5px;
}

.langchooser {
   left: -5px;
}

body.lefttitle .langchooser {
   left: 0px;
}

.topic.small {
    width: 97%;
}

h1,h2,h3,h4 {
   padding-top: 20px;
   padding-bottom: 10px;
}

.langchooser a.short {
   display: initial;
}

.langchooser a.long {
   display: none;
}
}

@media screen and (min-height:40px) and (max-height:560px) {
.logo {
   height: 50px;
}

body.lefttitle .logo {
   height: 100%;
}

.logo img {
   height: 50px;
}

body.lefttitle .logo img{
   height: auto;
}

.container{
   margin: 8px auto;
}

body.lefttitle .container{
   margin: 8px 8px;
}

.title {
   height: 50px;
   font-size: 200%;
   top: -15px;
}

.button.login {
   top: 10px;
}

.menu {
   height: 25px;
}

body.lefttitle .menu {
   height: 100%;
}

.langchooser {
   top: 3px;
}

body.lefttitle .langchooser {
   top: auto;
}

h1,h2,h3,h4 {
   padding-top: 10px;
   padding-bottom: 5px;
}
}
