html,body {
   height: 98%;
   margin: 0;
}

body {
   background-color: #f9f9f9;
   font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

* {
   margin: 0;
   padding: 0;
}

.raised {
   transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   transition-delay: 0.2s;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
   border-radius: 2px;
   background-color: #fff;
}

.container{
   position: relative;
   display: block;
   margin: 5px auto;
   width: 1000px;
   max-width: 60%;
   min-height: 98%;
   min-width: 460px;
   text-align: center;
}

.logo {
   width: 100%;
   height: 100px;
   padding-bottom: 60px;
}

.logo img {
   height: 100px;
}

.title {
   position: relative;
   color: #bbb;
   font-size: 48px;
   font-weight: bold;
   top: -30px;
}

h2 {
   padding-bottom: 20px;
}

p {
   margin: 15px;
   text-align: justify;
}

.topic {
   padding: 0px;
}

.topic.small {
    width: 47%;
    height: auto;
    display: inline-block;
    padding: 1%;
    padding-bottom: 20px;
}

@media screen and (min-width:480px) and (max-width:1200px) {
.container{
   width: 696px;
   max-width: 90%;
   min-width: 440px;
}
   
.logo {
   height: 90px;
   padding-bottom: 45px;
}

.logo img {
   height: 90px;
}

.title {
   font-size: 32px;
   font-weight: bold;
   top: -20px;
}

.topic.small {
    width: 47%;
}
}

@media screen and (min-width:40px) and (max-width:480px) {
.container{
   width: 98%;
   max-width: 98%;
   min-width: 98%;
}

.logo {
   height: 80px;
   padding-bottom: 30px;
}

.logo img {
   height: 80px;
}
.title {
   font-size: 22px;
   font-weight: bold;
   top: -15px;
}

.topic.small {
    width: 97%;
}
}

.content {
   margin: 5px auto 5px auto;
   padding-bottom: 25px;
}

.button {
   position: relative;
   outline: none;
   border: none;
   overflow: hidden;
   cursor: pointer;
   min-width: 120px;
   min-height: 32px;
   background-color: #fff;
   border-radius: 2px;
   font-weight: bold;
   line-height: 32px;
}

.button:disabled {
   color: #ccc;
}

.button.default{
   color: #008;
}

.button.default:disabled {
   color: #aaf;
}

.button:hover, .button:focus {
   background-color: #fafaff;
}

.button:disabled:hover, .button:disabled:focus {
   background-color: #fff;
}


.button.raised:active {
   box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
   transition-delay: 0s;
}

.button.login {
   position: absolute;
   top: 5px;
   right: 5px;
   float: right;
}

.button.start {
   margin: auto;
   margin-bottom: 25px;
}

.button.closedialog {
   float: right;
   margin-top: 10px;
   margin-bottom: 10px;
}

.ripple-effect {
	display: block;
   position: absolute;
	background-color: #228;
	border-radius: 100%;
	transform: scale(0);
}

.ripple-effect.animate {
   animation: ripple .5s linear;
   -webkit-animation: ripple .5s linear;
}

@-webkit-keyframes ripple {
	100% {opacity: 0; transform: scale(2.0);}
}
@keyframes ripple {
	100% {opacity: 0; transform: scale(2.0);}
}

.dialog {
   position: absolute;
   display: none;
   overflow: hidden;
   padding: 20px;
   text-align: center;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.5);
   z-index: 10;
	opacity: 1;
	pointer-events: auto;
}

.overlay.animate {
   animation: overlay .5s linear;
   -webkit-animation: overlay .5s linear;
}

@keyframes overlay {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes overlay {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.overlay.animatehide {
   animation: overlayhide .5s linear;
   -webkit-animation: overlayhide .5s linear;
}

@keyframes overlayhide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes overlayhide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.loginselector a {
   margin: 10px;
}

.group{ 
   position:relative; 
   margin-bottom:15px; 
}

input, span.text {
   font-size:18px;
   font-weight: bold;
   display:block;
   height:18px;
   width:260px;
   padding: 10px 10px 10px 5px;
   border: none;
   background-color: #fff;
   border-bottom: 1px solid #757575;
   outline:none;
   text-align: left;
}

span.infotext {
   font-size:16px;
   font-weight: bold;
   display:block;
   height:16px;
   width:260px;
   padding: 10px 10px 10px 5px;
   border: none;
   background-color: #fff;
   text-align: center;
}

select.chooser {
   font-size: 18px;
   font-weight: bold;
   display:block;
   height: 38px;
   width: 275px;
   padding: 8px 10px 8px 5px;
   display: block;
   border: none;
   background-color: #fff;
   border-bottom: 1px solid #757575;
   outline:none;
   text-align: left;
}

label 				 {
  color: #bbb; 
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label, span.text ~ label, select.chooser ~ label {
  top:-10px;
  font-size:12px;
  color:#5264AE;
}

.bar { 
   position:relative; 
   display:block; 
   width:275px;
}

.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
   width:50%;
}

.highlight {
  position:absolute;
  height:50%; 
  width:275px; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.error {
   display: block;
   width: 100%;
   height: 16px;
   color: #c00;
   text-align: center;
   padding-bottom: 5px;
}

.langchooser {
   position: absolute;
   bottom: 10px;
   right: 10px;
}

.langchooser a {
   padding: 5px 10px;
   font-size:14px;
}

.ratingtable {
   max-width: 300px;
   margin: 0px auto;
   border-collapse: collapse;
   font-size: 14px;
}

.ratingtable tr:nth-child(even) {
   background-color: #f8f8f8;
   border: 0px;
}

.ratingtable .name{
   padding: 5px 0 0 0;
   text-align: left;
}

.ratingtable .value{
   width: 80px;
   text-align: right;
}

.ratingtable .link{
   text-align: right;
   font-size: 12px;
}

#connectDialog td.ruleslink {
   text-align: right;
   font-size: 12px;
}